@model IEnumerable<Inmobiliaria_002.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de inquilinos</h1>

<p>
    <a asp-action="Create">Nuevo inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaPublicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaHabilitado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaPublicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaHabilitado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InquilinoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.InquilinoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
